/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* Andada */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.andada {
    font-family: 'Andada Pro', serif;
}
body {
    font-family: 'Poppins', sans-serif !important;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-y {
    display: flex;
    align-items: center;
}

.center-y-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}